body{
    margin-top: 350px;
    text-shadow: cm;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    text-align: center;
    background-image: radial-gradient(orange,rgb(173, 163, 163),green);
}