
html, body {
  height: 100%;
  margin: 0;
  display: grid;
  place-items: center;
  background: white;
}


.box {
  width: 150px;
  height: 360px;
  background: black;
  border-radius: 16px;
  padding: 18px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.light {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}


.red {
  background: red;
}
.yellow {
  background: yellow;
}
.green {
  background: green;
}
