body{
    font-family:sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;margin:0
}
.pricing{
    display:flex;
    gap:20px
}
.plan{
    border:3px solid #696565;
    padding:20px;
    text-align:center;
    width:150px;
    border-radius:8px
}
button{padding:8px 16px;
    border:none;
    background:#333;
    color:#fff;
    border-radius:4px;
    cursor:pointer
}
