.container{
    border: 2px solid black;
    height: 400px;
    width: 400px;
    position: relative;
    background-color: aqua;

}
.box{
   border: 2px solid black;
    height: 300px;
    width: 4300px;
    position: absolute;
    background-color: rgb(255, 145, 0);
    bottom: 0;
    right: 0;
}